body {
    background-image: url("./morepics/bg3.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
}

.box {
    font-family:'Baskervville', serif;
    border: 1px transparent;
    width: 46%;
    margin-left: 15px;
    margin-right: 10px;
    text-align: justify;
}
.homebutton {
    margin-top: 0;
    margin-left: 45%;
    padding: 7px;
    border: 1px solid rgb(95, 19, 95);
    font-family:'Baskervville', serif;
    color:rgba(95, 19, 95);
    background-color: rbga(255,255,255,0);
    font-size: 14px;
    display: inline-block;
}

.homebutton:hover{
    background:rgba(255,192,203 ,0.3 );
}

footer {
    background-color: white;
    font-family:'Baskervville', serif;
    font-size: 15px;
    text-align: center;
    position: fixed;
    height: 15;
    width: 100%;
    bottom: 0;
}